*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background: #F0974A;
}

form{
  display: grid;
  grid-template-rows: repeat(2fr,4);
  grid-row-gap: 3rem;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: .5rem auto; 
}


.combos{
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-row-gap: .5rem; 
}

.adicionalin{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

input[type="checkbox"]{
  width: 1rem;

}

.bienvenido{
  text-align: center;
}




